body {
  background-color: rgba(67, 139, 170, 0.679);
}

.image-size {
  width: 382px;
  height: 200px;
  object-fit: cover;
}

.price-space {
  align-content: center;
  font-family: fantasy;
  inline-size: min-content;
}